/* Basics */
:root {
    font-size: 62.5%; /* font size 10px */
    --font-size-s: 1.3rem;
    --font-size-m: 1.6rem;
    --font-size-l: 2rem;
    --font-size-xl: 3rem;
    --text-color: #0a1b2a;
    --color-gray: #f3f5f8;
    --gap-s: 1rem;
    --gap-m: calc(var(--gap-s) * 2);
    --gap-l: calc(var(--gap-s) * 3);
    --gap-xl: calc(var(--gap-s) * 5);
    --max-block-width: 800px;
    --font-standard: 'Poppins', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-standard);
}
img{
    width: 100%;
}
body {
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "he he"
    "as na"
    "as ma"
    ;
    grid-template-columns: 63px 1fr ;
    grid-template-rows: 69px 60px 1fr;
}
body>header {
    grid-area: he;
    border: solid 1px lightgrey;
}
body>aside {
    grid-area: as;
}   
body>nav{
    grid-area: na;
    background-color: yellow;
}
body>main {
    background-color: #e9ebee;
    grid-area: ma;
}
/* Header */
body>header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body>header>section {
    display: flex;
}
header .logo-section {
    height: 4rem;
    align-items: center;
    gap: 2rem;
    padding-left: var(--gap-l);
}
.search-bar {
    position: relative;
}
.search-bar>input {
    height: 35px;
    border: 1px solid lightgray;
    border-right: none;
    border-radius: 20px;
    width: 35vw;
    padding-left: 10px;
}
.search-bar>button {
    height: 35px;
    width: 30px;
    border: none;
    background-color: transparent;
    border-radius: 20px;
    right: 0;
    position: absolute;
    padding-right: 10px;
}
.login-section>button {
    border: none;
    background-color: transparent;
    font-size: var(--font-size-m);
}
.login-section .sign-out-btn {
    margin: var(--gap-l);
    border: 2px solid #85c742;
    border-radius: 30px;
    width: 10rem;
    height: 5rem;
}
button {
    cursor: pointer;
}
/* Aside */
aside {
    overflow-x: scroll;
}
aside::-webkit-scrollbar {
    display: none;
}
.aside-nav-bar {
    padding-top: var(--gap-m);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aside-nav-bar a {
    text-decoration: none;
    color: var(--text-color);
}
.nav-item {
    padding: var(--gap-s);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-item img {
    width: var(--font-size-l); 
}
.nav-item span {
    margin-top: 5px; 
    text-align: center; 
}
aside hr {
    color: lightgray;
    margin-inline: 5px;
}

.featured {
    padding: var(--gap-s);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.featured h4 {
    padding-bottom: var(--gap-s);
}
.featured li {
    list-style-type: none;
}
.featured img {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-top: .5rem;
}
.theme-selection h4 {
    padding-top: var(--gap-s);
}
.theme-selection {
    display: grid;
    place-content: center;
    gap: var(--font-size-s);
}
.theme-selection span {
    font-size: 1rem;
}
.theme-selection button {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 5px; 
    border: none;
    background-color: transparent;

}
.theme-selection img {
    width: 20px;
    margin-top: var(--gap-s);
}
.theme-selection span {
    width: 30px;
}
/* Main */
main {
    display: grid;
    grid-template-areas: 
        "feat"
        "main";
    grid-template-columns: 1fr;
    grid-template-rows: minmax(10rem, auto) minmax(10rem, auto);
    
}
.featured-video {
    background-color: #f3f5f8;
    display: flex;
    align-items: center;
    grid-area: feat;
    max-height: 60rem;
    
}
.featured-video  figure {
    max-width: 45%;
    padding-left: var(--gap-xl);
    padding-block: 3rem;
}
.featured-video img {
    border-radius: 20px;
}
.user-container {
    padding-left: var(--gap-xl);
}
.user-container > p:nth-child(1){
    font-size: 1.5rem;
    color: gray;
}
.user-container > p:nth-child(2) {
    font-weight: bold;
    font-size: var(--font-size-xl);
}
.user {
    display: flex;
    align-items: center;
}
.user img {
    width: 32px;
    height: 32px;
}
.user-name {
    padding-left: var(--gap-s);
    font-size: 1.5rem;
}
.category-video {
    padding: var(--gap-m);
}
.category-title h2 {
    font-size: 2rem;
}
.category-items {
    display: flex;
    gap: var(--gap-m);
    padding-top: var(--gap-s);
}
.live-figure img {
    width: 10rem;
    height: 15rem;
    border-radius: 15px;
    border: 1px solid black;
}
.category h1 {
    font-size: 1.5rem;
}
.category p {
    font-size: 1.2rem;
}
.category-title {
    display: flex;
    justify-content: space-between;
    padding-bottom: var(--gap-m);
}
.category-title button {
    border: 2px solid #85c742;
    border-radius: 30px;
    width: 10rem;
    height: 3rem;
}
.video-maker {
    gap: 1rem;
    display: flex;
    align-items: center;
}
.video-maker img {
    width: 30px;
    height: 30px;
}
.video-figure img {
    height: 17rem;
    width: 25rem;
    border: 1px solid black;
    border-radius: 20px;
}
.video-figure p {
    font-size: 2rem;
}
.main-container {
    overflow: hidden;
}
/*--------------------------------------------------------*/
/* Media Query */
/*--------------------------------------------------------*/

/* Tablet */
@media (max-width: 960px){
    body {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "he"
        "na"
        "ma"    
         ;
    }
    aside {
        display: none;
    }
}
/* Tablet S */
@media (max-width: 700px) {
    .search-bar>input {
        display: none;
    }
    .search-bar>button {
        position: static;
    }
    .search-bar {
        margin-left: auto;
        padding-top: .5rem;
    }
}
/* Phone */
@media (max-width: 480px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "he"
        "na"
        "ma"    
         ;
    }
    .search-bar>input {
        display: none;
    }
    header .logo-section {
        gap: 1rem;
        padding-left: var(--gap-s);
    }
    .search-bar>button {
        position: static;
    }
    .search-bar {
        margin-left: auto;
        padding-top: .5rem;
    }
    .login-section .sign-out-btn {
        margin: var(--gap-s);
    }
}